
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-image: url("img/bwa.jpg"),
    url("img/bwa.jpg");
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;

}

header h1 {
    font-size: 36px;
}

nav ul {
    background-image: url("img/bwa.jpg"),
    url("img/bwa.jpg");
    background-color: #333;
    list-style: none;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

section {

    padding: 20px;
    margin: 10px;

}

footer {
    background-image: url("img/bwa.jpg"),
    url("img/bwa.jpg");
    color: white;
    text-align: center;
    padding: 10px;
    .inline-block {
        display: inline-block;
     }
}
table {
    border-collapse: collapse;
    width: 60%; /* Table width */
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px; /* Adjust the max-width as needed */
}

td {
    border: 1px solid rgba(255, 255, 255, 0); /* Table cell border with alpha channel for transparency */
    padding: 10px; /* Cell padding */
}
